.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
media/node_modules/
TestApp/
node_modules/
media/*.vue
media/main.js
media/package.json
media/package-lock.json
media/vite.config.js
media/tailwind.config.js
media/tailwind.css
media/.gitignore
reqstudio.png